     <form method="post" action="http://yjqn.xiyoukeji.com/index.php/home/Contribute/photo_upload" enctype="multipart/form-data">   
     <script src="../nocopy.js" type="text/javascript"></script>
     <table border=0 cellspacing=0 cellpadding=0 align=center width="100%">   
      <tr>    
        <td width=55 height=20 align="center"><input type="hidden" name="MAX_FILE_SIZE" value="2000000000">文件： </TD>   
        <td height="16">    
        <input name="file" type="file"  value="浏览" >              
        <input type="submit" value="上传" name="B1">   
        </td>   
      </tr>   
     </table>   
     </form> 